<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="system.net" type="System.Net.Configuration.NetSectionGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="mailSettings" type="System.Net.Configuration.MailSettingsSectionGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>

	<appSettings>

		<add key ="senderEmail" value ="ronakverma121@gmail.com"/>
		<add key="senderDisplayName" value="Ronak Verma"/>
		<add key="smtpHost" value ="127.0.0.1"/>
	</appSettings>


	<connectionStrings>
		<add name = "Clerkly" connectionString = "Server = (localdb)\Local; Database = Clerkly; Trusted_Connection = True;" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="Ronak" password="testing" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>

</configuration>